@import url(mediaq.css);
/* Navigation Styles */
* {
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    padding: 10px;
    display: flex;
    position: fixed;
    top: 0;
    gap: 15px;
    background: transparent;
    justify-content: center;
    z-index: 999;
}

.nav-link {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    background: transparent;
    color: var(--white-clr);
    transition-duration: 500ms;
}

.nav-link:hover,
.nav-link:focus {
    border: 1px solid var(--accent-clr);
}

.nav-logo {
    position: absolute;
    left: 0;

}

.nav-logo a {
    text-decoration: none;
    color: var(--white-clr);
}
.nav-logo h1{
    font-size: 30px;
}

.nav-login {
    position: absolute;
    right: 10px;
}

.nav-btn {
    width: 150px;
    padding: var(--btn-padding);
    border: 2px solid var(--accent-clr);
    background: var(--primary-clr);
    color: var(--white-clr);
    font-size: 18px;
    border-radius: 75px;
    transition-duration: 500ms;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: black;
    box-shadow: 0 0 30px 0 var(--accent-clr);
}
.nav-login-btn{
    display: none;
}
.icon{
    display: none;
}
.new-login{
    display: none;
}